<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <div class="main-content">
    {{>header}}
  <h2>This application was built using:</h2>
  <ul>
    <li>Node.js</li>
    <li>Express</li>
    <li>HTML</li>
    <Li>CSS</Li>
     <Li>Third Party APIs</Li>
  </ul>
  </div>
   {{>footer}}
</body>

</html>